<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>
<section layout:fragment="body">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-10">User</th>
                    <th scope="col" class="col-10">Total Score</th>
                    <th scope="col" class="col-10">Start time</th>
                    <th scope="col" class="col-10">End time</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="testing:${testings}">
                    <td th:text="${testing.id}"></td>
                    <td th:text="${testing.user.login}"></td>
                    <td th:text="${testing.score}"></td>
                    <td th:text="${testing.createdAt}"></td>
                    <td th:text="${testing.endedAt}"></td>
                </tr>
            </tbody>
        </table>
  </div>
</section>
</body>
</html>
