<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
  <title>Question view page</title>
</head>
<body>
  <section layout:fragment="body">
      <div class="justify-content-center">
        <form th:action="|/testing/${testing.id}|" method="post">
          <h1 class="text-center">Welcome to Test</h1>
          <table>
            <tr th:each="question,iter:${questions}">
              <td th:text="|${iter.index + 1}. ${question.text}|"></td>
              <table class="form-check">
                <tr>
                  <div class="form-check" th:each="answer,iter:${question.answers}" >
                    <input
                      type="radio"
                      th:attr="name=${question.id}, class=${answer.correct ? 'form-check-input is-invalid' : 'form-check-input'}"
                      th:value="${answer.id}"
                      required
                    >
                    <label th:text="${answer.text}" class="form-check-label"></label><br>
                  </div>
                </tr>
              </table>
            </tr>
            <tr>
              <td>
                <button type="submit" class="btn btn-primary">Submit</button>
              </td>
              <td>
                <a href="/testing" class="btn btn-light" role="button" >Cancel</a>
              </td>
            </tr>
          </table>
        </form>
      </div>
  </section>
</body>
</html>
