<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>
    <section layout:fragment="body">
        <h3>Register questions</h3>
        <form action="#"  th:action="@{/question/create}" th:object="${question}" method="POST" >
            <h2>New Question</h2>
            <div class="col-auto">
                <label class="visually-hidden" >Question Name</label>
                <input type="text" th:field="*{text}" placeholder="Question"/> <br>
            </div>
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01" th:field="*{subject}">
                    <option value="0">Select</option>
                    <th:block th:each="subject:${subjects}">
                        <option th:value="${subject.id}" th:text="${subject.title}"></option>
                    </th:block>
                </select><br>
                <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
            </div>
            <div class="col-auto-1">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/subjects" class="btn btn-light" role="button" >Cancel</a>
            </div>
        </form>
    </section>
</body>
</html>
