<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>
<section layout:fragment="body">
  <h3>Register questions</h3>
  <form action="#"  th:action="@{/question/create}" th:object="${question}" method="POST" >
      <h2>New Question</h2>

      <div class="col-auto">
          <label class="visually-hidden" >Question Name</label>
          <input type="text" th:field="*{text}" placeholder="Question"/> <br>
      </div>




      <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect">
              <option selected>Subjects</option>
              <option value="1">One</option>
          </select>
      </div>

      <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>

  </form>
</section>
</body>
</html>
