<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Question view page</title>
</head>
<body>
    <section layout:fragment="body">
        <form  action="/editing" method="post">
            <div class="container">
                <div class="justify-content-center">
                    <h2 th:text="${subject.title}"></h2>
                    <a th:href="@{'/question/create'}" class="btn btn-primary">Add New</a>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col-10">Title</th>
                            <th scope="col" class="col-1"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${#arrays.length(questions) > 0}">
                            <tr th:each="question:${questions}">
                                <td th:text="|${question.id}|" class=""></td>
                                <td th:text="|${question.text}|"></td>
                                <td>
                                    <a th:href="|/question/${question.id}/edit|">
                                        <i class="bi bi-pen"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                        <tbody th:if="${#arrays.length(questions) == 0}">
                            <tr>
                                <td colspan="3" class="text-center">
                                    Empty
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>
            </div>
        </form>
    </section>
</body>
</html>
