<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>
    <section layout:fragment="body">
        <form>
            <div th:replace="header:: header"></div>
            <h1>Correct Answer!</h1>
            <table>
                <tr th:each="answer:${answers}">
                    <td th:value="${answer.id}"></td>
                    <td th:text="${answer.text}"></td>
                    <td></td>
                </tr>
            </table>
         <ul class="list-group" th:each="answer:${answers}">
             <li class="list-group-item" th:value="${answer.id}"></li>
             <li class="list-group-item" th:text="${answer.text}"></li>
         </ul>

        </form>
    </section>
</body>
</html>
