<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>

<section layout:fragment="body">
<h1>Enter Your Account</h1>
<form th:action="@{/login}" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="username" placeholder="login" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" ></span>
    </div>

    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" ></span>
    </div>

    <div class="input-box">
        <input type="submit" name="sign-in" value="Sign in">
    </div>

</form>
</section>
</body>
</html>