<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Register Page</title>
</head>
<body>
	<section layout:fragment="body">
		<div class="container">
            <div class="row justify-content-md-center">
                <h2>Welcome to register page</h2>
                <form class="col-6 needs-validation" action="#"  th:action="@{/register}" th:object="${userModel}" method="POST" novalidate="novalidate">
                    <div class="col-12">
                        <label for="login" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input type="text" th:field="*{login}" class="form-control is-invalid" id="login" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <input type="text" th:field="*{email}" class="form-control is-invalid" id="email" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback1" required>
                            <div id="validationServerUsernameFeedback1" class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group has-validation">
                            <input type="password" th:field="*{password}" class="form-control is-invalid" id="password" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback2" required>
                            <div id="validationServerUsernameFeedback2" class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <br/>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a class="btn btn-secondary" href="/login" role="button">Log In</a>
                    </div>
                </form>
            </div>
        </div>
	</section>
</body>
</html>


