<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/bootstrap-icons.css}" rel="stylesheet" />
    <title th:fragment="title">TestingApp</title>
</head>
<body>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/subjects" class="nav-link px-2 link-dark">Subjects</a></li>
          <li><a href="/testing" class="nav-link px-2 link-dark">Test</a></li>
          <li><a href="/logout" class="nav-link px-2 link-dark">Logout</a></li>
      </ul>
  </header>
  <div class="container" layout:fragment="body"></div>
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-muted">TestingApp © 2022</p>
    </div>
  </footer>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>
